<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jat.imview">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.activity.SplashScreenActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/AppTheme.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.FeaturedActivity"
            android:label="Featured"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activity.AbyssActivity"
            android:label="Abyss"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activity.CommentsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Comments"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activity.ImageNewActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name=".ui.activity.PreferenceActivity"
            android:label="Settings"
            android:theme="@style/PreferenceTheme" />

        <activity
            android:name=".ui.activity.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activity.SignupActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <service android:name=".service.SendService" />

        <provider
            android:name=".contentProvider.UserProvider"
            android:authorities="jat.imview.userProfileProvider" />
        <provider
            android:name=".contentProvider.ImageProvider"
            android:authorities="jat.imview.imageProvider" />
        <provider
            android:name=".contentProvider.CommentProvider"
            android:authorities="jat.imview.commentProvider" />

        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider1673826382890524"
            android:exported="true" />
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>
    </application>

</manifest>
