<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jat.imview">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".ui.activities.SplashScreenActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/AppTheme.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activities.ImageActivity"
            android:label="@string/title_activity_image"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ui.activities.MainActivity" />
        <activity
            android:name=".ui.activities.PreferenceActivity"
            android:label="Settings"
            android:theme="@style/PreferenceTheme" />
        <activity
            android:name=".ui.activities.FeaturedActivity"
            android:label="Featured"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activities.CommentsActivity"
            android:label="Comments"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ui.activities.LoginActivity" />
        <activity android:name=".ui.activities.SignupActivity" />

        <service android:name=".service.SendService" />
        <provider
            android:name=".contentProvider.ImageProvider"
            android:authorities="jat.imview.imageProvider" />
    </application>

</manifest>
